ill450kMeth_all_740_imputed.txt
phenotype_740qc_finalFromLori.txt
IDmapping.txt
pheno_cov_n2963_092014_forPLINK.csv
residual_gene_expression_expressed_genes_2FPKM100ind.txt
techvars_plus_phenotypes26SEP2014.txt
combined_core
db/*.timestamp
psql
allrevcoded.csv
module_means_filtered_byphenotype.txt
psql.log
bsub.sh
input
transposed_1kG
