ill450kMeth_all_740_imputed.txt
pheno_cov_n2963_092014_forPLINK.csv
residual_gene_expression_expressed_genes_2FPKM100ind.txt
techvars_plus_phenotypes26SEP2014.txt
allrevcoded.csv
module_means_filtered_byphenotype.txt
transposed_1kG
ROSMAP_brain_rnaseq_best_eQTL.txt
ensemblGenes.tsv
snp.txt
cpg.txt
peak.txt
chipSeqResiduals.csv
phenotype_740qc_finalFromLori.txt
sign_modules_celltypes_PC_Rosemary.txt
genotype_manifest.tsv
patients.tsv
